# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
spicerack.iml
.idea/
eggs/
.ssh/bespin
.ssh/blueprints
.ssh/egg
.ssh/endor
.ssh/kamino
.ssh/naboo
.ssh/nakadia
.ssh/named
.ssh/quarren
.ssh/tattooine
.ssh/ucibox
.ssh/config